{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Accueil - Gestion Réservation{% endblock %}

{% block menu %}index{% endblock %}

{% block body %}
<script>
			$(document).ready(function() {
			// FullCalendar
			var options = {
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				events: [
					{% for event in events %}
						{
						title: '{{ event.nom }} - {{ event.salle.nom }}',
						start: '{{ event.dateDebut | date('Y-m-d\\TH:i:s') }}',
						end: '{{ event.dateFin | date('Y-m-d\\TH:i:s')  }}',
						backgroundColor: '#C96F51',
						tip: '{{ event.nom }} - {{ event.salle.nom }}',
						},
					{% endfor %}
				],
				eventRender: function(event, element) {
					element.attr('title', event.tip);
				},
				color: 'red',
				textColor: 'red',
				timeFormat: 'H:mm'
			};
			$('#calendar').fullCalendar(options)

			});
</script>

<h1 class="text-center">Système de gestion des réservations de salles</h1>

<h2 class="text-center">
	<a href="{{ path('reservationbundle_reserver') }}" >
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-calendar"></span> Réserver</button>
	</a>
</h2> 

<div class="col-xs-12">
	<div id='calendar'>
	</div>
</div>

{% endblock %}
