{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Réserver une salle - Gestion Réservation{% endblock %}

{% block menu %}reserver{% endblock %}

{% block body %}
<h1 class="text-center">Réserver une salle</h1>

{#{ form(formulaire_reservation) }#}

<div class="center-block">
{{ form_start(formulaire_reservation) }}
	<div class="form-group">
		<label class="col-sm-2">Nom</label>
		{{ form_widget(formulaire_reservation.nom) }}
	</div>
	<div class="form-group">
		<label class="col-sm-2">Mail</label>
		{{ form_widget(formulaire_reservation.mail) }}
	</div>
	<div class="form-group">
		<label class="col-sm-2">Début</label>
		{{ form_widget(formulaire_reservation.dateDebut) }}
	</div>
	<div class="form-group">
		<label class="col-sm-2">Fin</label>
		{{ form_widget(formulaire_reservation.dateFin) }}
	</div>
	
	{{ form_widget(formulaire_reservation.ajouter) }}
{{ form_end(formulaire_reservation) }}
</div>

{% endblock %}
