{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Liste des réservations - Gestion Réservation{% endblock %}

{% block menu %}reservation{% endblock %}

{% block body %}
<h1 class="text-center">Liste des réservations</h1>

<table class="table table-bordered">
	<th>Nom</th>
	<th>Mail</th>
	<th>Date et heure de debut</th>
	<th>Date et heure de fin</th>
	<th>Salle</th>
	<th> </th>
	
	{% for resa in les_resas %}
		<tr>
			<td> {{ resa.nom }} </td>
			<td> {{ resa.mail }} </td>
			<td> {{ resa.dateDebut | date('d/m/Y H:i') }} </td>
			<td> {{ resa.dateFin | date('d/m/Y H:i')  }} </td>
			<td> {{ resa.salle.nom }} </td>
			<td> <a href="{{ path('reservationbundle_supprimerResa', {'id' : resa.id}) }}" /><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a> </td>
	{% endfor %}
</table>
{% endblock %}

