{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Liste des salles - Gestion Réservation{% endblock %}

{% block menu %}salle{% endblock %}

{% block body %}
<h1 class="text-center">Liste des salles </h1>

<h2 class="text-center">
	<a href="{{ path('reservationbundle_ajouter') }}" />
		<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter une salle</button>
	</a>
</h2>

<table class="table table-bordered text-center">
	<th>Nom</th>
	<th>Description</th>
	<th>Capacite</th>
	<th>Image</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	
	{% for salle in les_salles %}
		<tr>
			<td> {{ salle.nom }} </td>
			<td> {{ salle.description }} </td>
			<td> {{ salle.capacite }} </td>
			<td> {% if salle.image is not null %}
				<img src="{{salle.image.getWebPath}}" />
				 {% endif %}
			</td>
			<td> <a href="{{ path('reservationbundle_voir', {'id' : salle.id}) }}" /><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></button></a> </td>
			<td> <a href="{{ path('reservationbundle_edit', {'id' : salle.id}) }}" /><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> Modifier</button></a> </td>
			<td> <a href="{{ path('reservationbundle_reserverSalle', {'id' : salle.id}) }}"  ><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-calendar"></span> Réserver</button></a> </td>
			<td> <a href="{{ path('reservationbundle_supprimer', {'id' : salle.id}) }}" /><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a> </td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
